/*Tag Selectors*/
body{
  margin: 0 auto;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

h1{
  font-family: 'Indie Flower', cursive;
}

h2{
  font-family: 'Caveat', cursive;
  position: relative;
  font-size: 250%;
}

header{
  background-color: #3282b8;
  display: flex;
  align-items: center;
  padding: 10px 15%;
  justify-content: flex-end;
  position: fixed;
  width: 70%;
  z-index: 1030;
}

hr {
  border-style: dotted none none;
  border-width: 0.5em;
  border-color: grey;
  width: 4em;
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  padding: 9px 25px;
  background-color: #4f98ca;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
}

button:hover{
  background: #0F4C75;
  cursor: pointer;
}

/*Class Selectors*/
.logoatas{
  width: 30%;
  cursor: pointer;
  margin-right: auto;
}

.nav_link {
  list-style: none;
  color: white;
}

.nav_link li{
  font-weight: 500;
  display: inline-block;
  padding: 0 20px;
}

.nav_link li a{
  transition: all 0.3s ease 0s;
}

.nav_link li a:hover{
  color: #0f4c75;
}

.top-container{
  color: white;
  background-color: #3282b8;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  background-color: #bbe1fa;
  position: relative;
  padding-top: 6.5%;
}

.bottom-container{
  background-color: #3282b8;
  padding: 50px 0 20px;
  position: relative;
}

.h1top{
    margin: 0 auto 0 auto;
    font-size: 700.5%;
}

.h2top{
    bottom: 1.5em;
}

.greet3{
  position: relative;
  font-size: 100%;
  bottom: 5rem;
  font-weight: normal;
}

.intro{
  margin: auto;
  width: 50%;
  padding-bottom: 5%;
  line-height: 1.5;
}

.mt{
  width: 60%;
  vertical-align: middle;
}

.clt{
  width: 10.375%;
  position: absolute;
  right: 30%;
  }

.clb{
  position: absolute;
  width: 12.5%;
  bottom: 56%;
  left: 20%;
}

.clbb{
  position: absolute;
  width: 12.5%;
  bottom: 60%;
  right: 18%;
}

.PP{
  width: 15%;
}

.logo1{
  width: 25%;
  float: left;
  margin-right: 3%;
}

.logo2{
  width: 25%;
  float: right;
}

.OE{
  line-height: 2;
}

.oe1{
  width: 50%;
  margin: 3em auto;
  text-align: left;
}

.WE{
  line-height: 2;
}

.we1{
  width: 50%;
  margin: 3em auto;
  text-align: left;
}

.working-places{
  margin-top: 1px;
  margin-bottom: 1px;
}

.footer-link{
  color: #0f4c75;
  margin: 1em 1em;
}

.footer-link:hover{
  color: white;
}

.cpyrght{
  color: white;
  font-size: 12px;
}
